li.dropdown:hover > ul{
    display: block;
    visibility: visible !important;
  opacity: 1 !important;
}
 li.dropdown >ul {
    visibility: hidden !important;
    opacity: 0 !important;
    transition: visibility 0s, opacity 0.5s linear;
  }