<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="table-wrapper">

                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6 p-0 flex justify-content-lg-start justify-content-center">
                            <h2 class="ml-lg-2">{{FormData.PageTitle}}</h2>
                        </div>
                        <div class="col-sm-6 p-0 flex justify-content-lg-end justify-content-center">
                            <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal">
                                <i class="material-icons"></i>
                                <span>Add New Employees</span>
                            </a>
                            
                            <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal">
                                <i class="material-icons"></i>
                                <span>Delete</span>
                            </a>
                        </div>
                    </div>
                </div>
                

                <app-data-table (EventClicker)="fn($event)" [BaseUrl]="FormData.UrlApi"></app-data-table>









            </div>
        </div>


        <!----add-modal start--------->
        <app-walk [form]="FormData.FormsDrawer"></app-walk>

        <!----edit-modal end--------->




        <!----edit-modal start--------->
        <!-- <app-walk [form]="editfro"></app-walk> -->


        <!----edit-modal end--------->


        <!----delete-modal start--------->
        <app-deleter uri="{{FormData.UrlApi}}" ids="{{ids}}"></app-deleter>

        <!----edit-modal end--------->




    </div>
</div>